In [61]:
import pandas as pd

bikes_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
bikes_df = bikes_data.copy()
bikes_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [62]:
bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [63]:
bikes_df['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [64]:
bikes_df['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [65]:
bikes_df['usertype'].mode()

0    Subscriber
Name: usertype, dtype: object

In [66]:
mode_usertype = bikes_df['usertype'].mode()[0]
count_mode_user = bikes_df[bikes_df['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / bikes_df.shape[0], 2))

0.77

In [67]:
male_count = bikes_df[bikes_df['gender'] == 1].shape[0]
female_count = bikes_df[bikes_df['gender'] == 0].shape[0]
print(max([male_count, female_count]))

183582

In [68]:
bikes_df.drop(['start station id', 'end station id'], axis=1, inplace=True)
print(bikes_df.shape[1])

12

In [69]:
bikes_df['age'] = 2018 -    bikes_df['birth year']
bikes_df.drop(['birth year'], axis=1, inplace=True)
print(bikes_df[bikes_df['age'] > 60].shape[0])

11837

In [70]:
bikes_df['starttime'] = pd.to_datetime(bikes_df['starttime'])
bikes_df['stoptime'] = pd.to_datetime(bikes_df['stoptime'])
bikes_df['trip duration'] = (bikes_df['stoptime'] - bikes_df['starttime'])
bikes_df.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

In [71]:
bikes_df.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000

In [72]:
weekday = bikes_df['starttime'].dt.dayofweek
bikes_df['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
bikes_df['weekend'].sum()

115135

In [73]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
bikes_df['time_of_day'] = bikes_df['starttime'].dt.hour.apply(get_time_of_day)
a = bikes_df[bikes_df['time_of_day'] == 'day'].shape[0]
b = bikes_df[bikes_df['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9