In [1]:
import pandas as pd

ufo_data = pd.read_csv('data/ufo.csv', sep=',')
ufo_data.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [2]:
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'], dayfirst=False)
display(ufo_data['Time'])

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [4]:
years_ufo = ufo_data['Time'].dt.year
print(years_ufo)
print('Min year UFO seen:', years_ufo.min())
print('Max year UFO seen:', years_ufo.max())
print('Mode year UFO seen:', years_ufo.mode()[0])

0        1930
1        1930
2        1931
3        1931
4        1933
         ...
18236    2000
18237    2000
18238    2000
18239    2000
18240    2000
Name: Time, Length: 18241, dtype: int64
Min year UFO seen: 1930
Max year UFO seen: 2000
Mode year UFO seen: 1999

In [8]:
ufo_data['Date'] = ufo_data['Time'].dt.date
print(ufo_data[ufo_data['State']=='NV']['Date'].diff().dt.days.mean())

68.92932862190813